node_modules/
.env
npm-debug.log

# data runtime (dibuat otomatis oleh server.js saat pertama kali start)
data/*.json

# file upload dari Resource Manager (biarkan folder-nya tetap ada di git)
public/uploads/*
!public/uploads/.gitkeep
